# IDS 2023 Final Exam

Please replace the "empty" in the file name field with your student ID. For instance, "IDS2023_final_202255123.ipynb". Once you have finished, **you will need to upload this file to PLATO.**

For sub-questions (a) to (g), please utilize the code blocks given below. If necessary, you can include additional code blocks.

Remember to record your answers on the answer sheet and not forget to submit it.

## Import packages

In [1]:
import pandas as pd
import numpy as np

def percentile(data, p):
  return np.percentile(data, p, method='inverted_cdf')

def sample_proportions(sample_size, probabilities):
	return np.random.multinomial(sample_size, probabilities)/sample_size

# Newborn baby weight sample

In [2]:
path_data = "https://raw.githubusercontent.com/mlee-pnu/IDS/main/data/"
baby = pd.read_csv(path_data + 'baby.csv')
sampled_weight = baby['Birth Weight']

## Q19

In [3]:
# TODO
sampled_weight

0       120
1       113
2       128
3       108
4       136
       ...
1169    113
1170    128
1171    130
1172    125
1173    117
Name: Birth Weight, Length: 1174, dtype: int64

## Q20

In [26]:
# TODO
avg = np.average(sampled_weight)
round(avg,2)

119.46

## Q21

In [27]:
# TODO
std = np.std(sampled_weight)
round(std,2)

18.32

## Q22

In [28]:
# TODO
sd = std/(1174**.5)
round(sd*4,2)

2.14

# NBA Salary

myData contains a random sample of NBA players whose positions are either Point Guard(PG) or Center(C) and their salaries.

myData contains columns as follows:
- POSITION: player's position in abbreviation, e.g., PG, C.
- SALARY: salary in million dollars

In [8]:
nba = pd.read_csv(path_data + 'nba_salaries.csv')
nba.rename(columns = {"'15-'16 SALARY":'SALARY'}, inplace=True )
myData = nba[(nba.POSITION == 'C') | (nba.POSITION =='PG')].iloc[:,[1,3]].reset_index(drop=True)

In [10]:
myData

    POSITION     SALARY
0          C  12.000000
1          C   9.756250
2         PG   8.000000
3         PG   1.763400
4          C   1.000000
..       ...        ...
149        C  13.000000
150        C  11.217391
151       PG   2.170465
152       PG   2.139000
153        C   2.000000

[154 rows x 2 columns]

## Q24

In [107]:
def test_statistic(df, variable, group_label):
    # TODO
    temp = df.groupby(group_label)[variable].mean(variable).reset_index(name = 'mean')
    return abs(temp['mean'][0]-temp['mean'][1]) # TODO

test_statistic(myData, 'SALARY', 'POSITION')

0.9174258910485937

## Q25

In [101]:
# TODO
def one_simulated_difference(df, variable, group_label):
    shuffled_labels = np.array(df[group_label].sample(len(df[group_label]),replace=False))
    shuffled_table = df.copy()
    shuffled_table['Shuffled Label'] = shuffled_labels
    return test_statistic(shuffled_table, variable, 'Shuffled Label')

In [112]:
diffs = np.array([])
repetitions = 10000

for i in np.arange(repetitions):
    # TODO
    temp = one_simulated_difference(myData,'SALARY','POSITION')
    diffs = np.append(diffs,temp)

empirical_p = np.count_nonzero(diffs>=test_statistic(myData, 'SALARY', 'POSITION'))/repetitions # TODO
empirical_p

0.2768

Have you transferred your answers to the answer sheet?