# IDS 2023 Midterm

Please replace the "empty" in the file name field with your student ID. For instance, "IDS2023_midterm_202255123.ipynb". Once you have finished, **you will need to upload this file to PLATO.**

For sub-questions (a) to (g), please utilize the code blocks given below. If necessary, you can include additional code blocks.

Remember to record your answers on the answer sheet and not forget to submit it.

## Import packages

In [34]:
# TODO:
from datascience import *
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plots

## Load data

In [43]:
# TODO
Jaemin  = Table().read_table("https://raw.githubusercontent.com/mlee-pnu/IDS/main/Midterm/nba_salaries_1.csv")
Jonghoon = Table().read_table("https://raw.githubusercontent.com/mlee-pnu/IDS/main/Midterm/nba_salaries_2.csv")
Jungmi = Table().read_table("https://raw.githubusercontent.com/mlee-pnu/IDS/main/Midterm/nba_goods.csv")

## Q8-1

In [23]:
# TODO
np.sum(Jungmi.column('GOODS'))

792

## Q8-2

In [28]:
# TODO
maxM = max(Jungmi.column('GOODS'))
Jungmi.where('GOODS',are.equal_to(maxM))

PLAYER     | GOODS
Chris Paul | 11

## Q8-3

In [48]:
# TODO
pJaemin = Jaemin.to_df()
pJonghoon = Jonghoon.to_df()
pJungmi = Jungmi.to_df()
pd.concat([pJaemin,pJonghoon]).groupby('TEAM').count().shape

(30, 3)

## Q8-4

In [53]:
# TODO
pd.concat([pJaemin,pJonghoon]).join(pJungmi.set_index(['PLAYER']),on=['PLAYER']).groupby('TEAM').sum()['GOODS'].reset_index(name='sum').sort_values(by=['sum'],axis=0,ascending=False).head(1)

<ipython-input-53-4903e8fe45a4>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pd.concat([pJaemin,pJonghoon]).join(pJungmi.set_index(['PLAYER']),on=['PLAYER']).groupby('TEAM').sum()['GOODS'].reset_index(name='sum').sort_values(by=['sum'],axis=0,ascending=False).head(1)

                  TEAM  sum
5  Cleveland Cavaliers   48

## Q8-5

In [54]:
# TODO
pd.concat([pJaemin,pJonghoon]).join(pJungmi.set_index(['PLAYER']),on=['PLAYER']).groupby('TEAM').mean()['GOODS'].reset_index(name='sum').sort_values(by=['sum'],axis=0,ascending=False).head(2)

<ipython-input-54-b8bcebfa16c9>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pd.concat([pJaemin,pJonghoon]).join(pJungmi.set_index(['PLAYER']),on=['PLAYER']).groupby('TEAM').mean()['GOODS'].reset_index(name='sum').sort_values(by=['sum'],axis=0,ascending=False).head(2)

                  TEAM       sum
5  Cleveland Cavaliers  4.800000
4        Chicago Bulls  2.666667

## Q8-6

In [62]:
# TODO
temp = pd.concat([pJaemin,pJonghoon])
temp
temp[(temp['SALARY']>=10) & (temp['SALARY']<12)].shape

(15, 4)

## Q8-7

In [66]:
# TODO
np.mean(np.array(temp[temp['POSITION']=='PF']['SALARY']))

4.9513435411764712

Have you transferred your answers to the answer sheet?